## User Engagement analysis

In [1]:
import sys
sys.path.insert(0,'../scripts')

In [2]:
# Setting Notebook preference options, and
# Importing External Modules
import pandas as pd
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
pd.set_option('max_column', None)
# pd.set_option('display.float_format', '{:.2f}'.format)
%matplotlib inline

In [3]:
# Importing Local Modules
from data_loader import load_df_from_csv
from data_information import DataInfo
from data_cleaner import DataCleaner
from data_manipulation import DataManipulator
import graph_utils

We are gonna track the user’s engagement using the following engagement metrics: 
- sessions frequency (by xDr session identifier which is bearer id)
- the duration of the session (by Total Duration of the xDR (in ms) which is Total Duration in our clean data)
- the sessions total traffic (download and upload (bytes)) (by the sum of Total DL (Bytes) and Total UL (Bytes) which in Total Data (MegaBytes) in our clean data)

In [4]:
#Fetching and selecting the specified metric columns only
clean_data = load_df_from_csv("../data/teleCo_clean_data.csv")
cleaner = DataCleaner(clean_data)
cleaner.remove_unwanted_columns(cleaner.df.columns[0])
clean_df = cleaner.df
# df = cleaner.change_columns_type_to(['IMSI','Handset Manufacturer','Handset Type','IMEI','MSISDN/Number','Bearer Id'],'category')
# df = cleaner.df.loc[:,['Bearer Id','Total Duration (hr)','Total Data (MegaBytes)']]

In [5]:
df = clean_df.copy(deep=True)
aggs_by_col = {'Bearer Id':'count', 
               'Total Duration (hr)':'sum',
               'Total Data (MegaBytes)':'sum'
               }

df = df.groupby('MSISDN/Number').agg(aggs_by_col)
df

               Bearer Id  Total Duration (hr)  Total Data (MegaBytes)
MSISDN/Number
3.360100e+10           2            82.764198             1035.550171
3.360100e+10           1            37.491493              595.966492
3.360101e+10           3            24.161798             1879.731689
3.360101e+10           2            70.550858              615.217224
3.360101e+10           3            59.655693              987.383423
...                  ...                  ...                     ...
3.378998e+10           2            58.441708             1094.693359
3.379000e+10           2            41.610931             1194.948975
3.197021e+12           1           243.718155              232.123978
3.370000e+14           1            70.286171              596.287842
8.823971e+14           1           241.623398              139.153641

[35090 rows x 3 columns]

### Top 10 users based on Each Metric

#### Based on Frequency on Sessions (Bearer Id count)

In [6]:
dataManipulator = DataManipulator(df)
dataManipulator.get_top_sorted_by_column('Bearer Id',length=10)

               Bearer Id
MSISDN/Number
3.366371e+10        1082
3.376161e+10          66
3.365849e+10          42
3.376121e+10          39
3.365936e+10          38
3.376161e+10          37
3.366186e+10          36
3.376359e+10          35
3.365807e+10          34
3.376156e+10          34

#### Based on Duration of Session (Total Duration (hr))

In [7]:
dataManipulator.get_top_sorted_by_column('Total Duration (hr)',length=10)

               Total Duration (hr)
MSISDN/Number
3.366371e+10          20619.708984
3.362578e+10           5177.816406
3.361489e+10           2916.683105
3.376054e+10           2705.370361
3.366716e+10           2574.032959
3.362632e+10           2442.204590
3.366469e+10           2148.354004
3.366284e+10           2139.246826
3.366746e+10           1953.496338
3.365922e+10           1860.037109

#### Based on sessions total traffic (Total Data (MegaBytes))

In [8]:
dataManipulator.get_top_sorted_by_column('Total Data (MegaBytes)',length=10)

               Total Data (MegaBytes)
MSISDN/Number
3.366371e+10            539359.125000
3.376161e+10             35921.710938
3.365849e+10             20849.119141
3.365936e+10             19890.169922
3.376121e+10             19655.876953
3.365807e+10             19553.611328
3.376375e+10             18489.074219
3.369881e+10             17485.138672
3.365097e+10             16954.798828
3.366186e+10             16555.832031

### Normalizing each engagement metric

#### Normalizing Bearer Id

In [9]:
# graph_utils.plot_hist(df, column='Bearer Id', color='red')

In [10]:
# graph_utils.plot_hist(df, column='Total Duration (hr)', color='red')

In [11]:
# graph_utils.plot_hist(df, column='Total Data (MegaBytes)', color='red')

In [12]:
# imp_df = df.copy(deep=True)
# dataManipulator = DataManipulator(imp_df)

In [13]:
# scaled_df = dataManipulator.scale_column('Bearer Id')
# scaled_df = dataManipulator.scale_column('Total Duration (hr)')
# scaled_df = dataManipulator.scale_column('Total Data (MegaBytes)')
# scaled_df

In [14]:
# graph_utils.plot_hist(scaled_df, column='Bearer Id', color='yellow')

In [15]:
# dataManipulator = DataManipulator(scaled_df)
# normalized_df = dataManipulator.normalize_column('Bearer Id')
# normalized_df = dataManipulator.normalize_column('Total Duration (hr)')
# normalized_df = dataManipulator.normalize_column('Total Data (MegaBytes)')
# normalized_df

In [16]:
# graph_utils.plot_hist(normalized_df, column='Bearer Id', color='green')

In [17]:
# graph_utils.plot_hist(normalized_df, column='Total Duration (hr)', color='green')

In [18]:
# graph_utils.plot_hist(normalized_df, column='Total Data (MegaBytes)', color='green')

### Standardizing the Data

In [19]:
standard_df = df.copy(deep=True)
dataManipulator = DataManipulator(standard_df)

In [20]:
std_df = dataManipulator.standardize_column('Bearer Id')
std_df = dataManipulator.standardize_column('Total Duration (hr)')
std_df = dataManipulator.standardize_column('Total Data (MegaBytes)')
std_df

               Bearer Id  Total Duration (hr)  Total Data (MegaBytes)
MSISDN/Number
3.360100e+10   -0.307711            -0.215304               -0.291806
3.360100e+10   -0.442985            -0.450458               -0.410171
3.360101e+10   -0.172437            -0.519694               -0.064496
3.360101e+10   -0.307711            -0.278742               -0.404987
3.360101e+10   -0.172437            -0.335333               -0.304775
...                  ...                  ...                     ...
3.378998e+10   -0.307711            -0.341639               -0.275880
3.379000e+10   -0.307711            -0.429061               -0.248885
3.197021e+12   -0.442985             0.620718               -0.508141
3.370000e+14   -0.442985            -0.280117               -0.410084
8.823971e+14   -0.442985             0.609838               -0.533175

[35090 rows x 3 columns]

In [21]:
# graph_utils.plot_hist(std_df, column='Bearer Id', color='green')

### Clustering to 3 Groups

In [22]:
clust_df = std_df.copy(deep=True)
# clust_df = clust_df.iloc[:,1:]

In [23]:
# kmeans = KMeans(n_clusters=3).fit(clust_df)
# centroids = kmeans.cluster_centers_
# print(centroids)
# # clust_df['Bearer Id']
# plt.figure(figsize=(10,5))
# plt.scatter(clust_df['Bearer Id'], clust_df['Total Duration (hr)'], clust_df['Total Data (MegaBytes)'], c= kmeans.labels_.astype(float), alpha=0.5)
# plt.scatter(centroids[:, 0], centroids[:, 1], centroids[:,2], c='red')
# plt.show()

### 10 Most Engaged Users Per Application

In [24]:
engage_df = clean_df.copy(deep=True)

In [25]:
aggs_by_col = {'Total Social Media Data (MegaBytes)':'sum',
'Total Google Data (MegaBytes)':'sum',
'Total Email Data (MegaBytes)':'sum',
'Total Youtube Data (MegaBytes)':'sum',
'Total Netflix Data (MegaBytes)':'sum',
'Total Gaming Data (MegaBytes)':'sum',
'Total Other Data (MegaBytes)':'sum',}

engage_df = engage_df.groupby('MSISDN/Number').agg(aggs_by_col)
engage_df

,Total Social Media Data (MegaBytes),Total Google Data (MegaBytes),Total Email Data (MegaBytes),Total Youtube Data (MegaBytes),Total Netflix Data (MegaBytes),Total Gaming Data (MegaBytes),Total Other Data (MegaBytes)
MSISDN/Number,,,,,,,
3.360100e+10,4.892700,9.723868,4.639143,34.056770,38.402744,932.208740,668.280884
3.360100e+10,3.195623,3.443126,3.205380,21.333570,19.353901,538.827698,501.693665
3.360101e+10,3.192836,28.178108,5.590139,48.510323,51.143818,1705.923950,840.084229
3.360101e+10,3.792912,15.263134,7.848596,34.347122,30.315502,511.635773,492.372772
3.360101e+10,4.552319,22.220016,3.574522,45.324074,61.105236,830.825439,403.090271
...,...,...,...,...,...,...,...
3.378998e+10,4.250312,10.246473,5.315327,38.012810,51.950310,972.344971,1075.140381
3.379000e+10,0.798752,12.960974,3.521012,46.499413,23.433598,1097.364746,506.397949
3.197021e+12,0.715224,10.438660,1.520771,11.959905,26.592300,178.048737,470.526489
3.370000e+14,0.521566,9.830617,3.318582,36.734940,30.905043,510.142700,149.188446
8.823971e+14,1.546088,9.218647,3.330974,40.940708,28.846230,43.070259,401.360443

#### Top 10 Users Engaged in Social Media Activities

In [26]:
dataManipulator = DataManipulator(engage_df)
dataManipulator.get_top_sorted_by_column('Total Social Media Data (MegaBytes)',length=10)

               Total Social Media Data (MegaBytes)
MSISDN/Number
3.366371e+10                           2007.446899
3.376161e+10                            135.010193
3.365849e+10                             82.558983
3.365936e+10                             71.180473
3.376121e+10                             69.073807
3.369937e+10                             67.056389
3.376359e+10                             66.869164
3.365974e+10                             65.040726
3.365897e+10                             64.874496
3.376117e+10                             64.214035

#### Top 10 Users Engaged in Google related Activities

In [27]:
dataManipulator.get_top_sorted_by_column('Total Google Data (MegaBytes)',length=10)

               Total Google Data (MegaBytes)
MSISDN/Number
3.366371e+10                     8362.255859
3.376161e+10                      502.805359
3.365849e+10                      327.268799
3.365936e+10                      321.206635
3.366186e+10                      309.193909
3.376121e+10                      304.814941
3.366198e+10                      299.508728
3.376359e+10                      297.376709
3.369937e+10                      287.444244
3.376156e+10                      283.509491

#### Top 10 Users Engaged in Email related Activities

In [28]:
dataManipulator.get_top_sorted_by_column('Total Email Data (MegaBytes)',length=10)

               Total Email Data (MegaBytes)
MSISDN/Number
3.366371e+10                    2437.863770
3.376161e+10                     132.267807
3.365849e+10                      97.276932
3.376121e+10                      90.701691
3.376359e+10                      85.602600
3.376161e+10                      82.620430
3.365936e+10                      80.730927
3.369937e+10                      80.438919
3.376217e+10                      77.374176
3.365046e+10                      77.223694

#### Top 10 Users Engaged in Youtube Activity

In [29]:
dataManipulator.get_top_sorted_by_column('Total Youtube Data (MegaBytes)',length=10)

               Total Youtube Data (MegaBytes)
MSISDN/Number
3.366371e+10                     24713.966797
3.376161e+10                      1469.307617
3.365849e+10                       930.591675
3.365936e+10                       894.547668
3.366186e+10                       894.369995
3.376359e+10                       848.222107
3.376121e+10                       810.869141
3.376161e+10                       797.843018
3.369937e+10                       790.606079
3.376156e+10                       777.957031

#### Top 10 Users Engaged in Netflix Activity

In [30]:
dataManipulator.get_top_sorted_by_column('Total Netflix Data (MegaBytes)',length=10)

               Total Netflix Data (MegaBytes)
MSISDN/Number
3.366371e+10                     24631.017578
3.376161e+10                      1466.310913
3.365849e+10                      1016.661377
3.376121e+10                       965.793762
3.376161e+10                       896.031799
3.365936e+10                       825.937439
3.376359e+10                       788.857117
3.365807e+10                       770.539185
3.365881e+10                       769.578247
3.366186e+10                       769.344604

#### Top 10 Users Engaged in Gaming related Activities

In [31]:
dataManipulator.get_top_sorted_by_column('Total Gaming Data (MegaBytes)',length=10)

               Total Gaming Data (MegaBytes)
MSISDN/Number
3.366371e+10                   468035.000000
3.376161e+10                    31686.835938
3.365849e+10                    18006.138672
3.365936e+10                    17439.513672
3.365807e+10                    17377.496094
3.376121e+10                    17087.294922
3.376375e+10                    16462.654297
3.369881e+10                    15350.951172
3.365097e+10                    15141.359375
3.365895e+10                    14561.867188

#### Top 10 Users Engaged in Other Activities

In [32]:
dataManipulator.get_top_sorted_by_column('Total Other Data (MegaBytes)',length=10)

               Total Other Data (MegaBytes)
MSISDN/Number
3.366371e+10                  458101.250000
3.376161e+10                   28293.603516
3.376121e+10                   19020.855469
3.365849e+10                   18238.222656
3.365936e+10                   16596.996094
3.366186e+10                   16430.119141
3.376156e+10                   15776.853516
3.366198e+10                   15324.666016
3.376117e+10                   15104.711914
3.369881e+10                   15037.552734

### Top 3 Most Used Applications

In [39]:
most_used_df = clean_df.copy(deep=True)
most_used_df = most_used_df.loc[:,['Total Google Data (MegaBytes)','Total Email Data (MegaBytes)','Total Youtube Data (MegaBytes)','Total Netflix Data (MegaBytes)','Total Gaming Data (MegaBytes)','Total Other Data (MegaBytes)']]

In [46]:
total_app_data_usage = pd.DataFrame(most_used_df.sum(), columns=['Total Data (MegaBytes)'])
total_app_data_usage.sort_values(by='Total Data (MegaBytes)',ascending=False).iloc[:4,:]

                                Total Data (MegaBytes)
Total Gaming Data (MegaBytes)              64549960.00
Total Other Data (MegaBytes)               64404792.00
Total Youtube Data (MegaBytes)              3396522.25
Total Netflix Data (MegaBytes)              3394291.00

The Top 3 Most Used Applications are Gaming, Youtube, Netflix in order respectively (considering Other is not really an application)